<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OWASP DevSlop K8 CTF</title>
</head>
<body>
  <h1> <%= error %>  </h1>
  <h2> connection string: <%= connection %> </h2>
</body>
</html>